/* .Logo_navbar_fixed {
  margin: 0;
  padding: 0;
} */
/* .container_logo_navbar_fixed {
  width: 5vw;
  margin: 0;
}
.image_dropdown_navbar {
  border-radius: 50%;
}
.research_icon_navbar {
  padding: 10px;
  pointer-events: none;
}
.research_input_form_navbar {
  background-color: #edf3f8;
}
.icons_navbar {
  text-align: center;
  cursor: pointer;
}
.icons_navbar:hover {
  color: black;
}
#collapsible-nav-dropdown{
  padding: 0px!important;
} */